<div class="row">
    <h1>Counter</h1>


    {{!-- {{#each  namesList}} --}}
     <p class="message"> Hello , {{name}} has been greeted {{counterPerPerson}} times</p>
{{!-- {{/each}}
</div>
</div> --}}