<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="./style.css">
</head>

<body>
   
   <div class="error">
      {{errors}}
   </div>

   <div class="nameBox">
      <h2>Greetings  WebApp </h2><br><br>


      <form action="/" method="POST">

       <span class="countered">
               Counter:
               {{count}}
            </span><br><br>
         <label for="name11"> Enter a name here:</label>
         <input type="text" id="name11" name="nameVal" value="" class="name11">
         <br><br><br>
         <div class="languages">
            <input type="radio" id="English" name="language" value="English">
            <label for="language">English</label>
            <input type="radio" id="IsiXhosa" name="language" value="IsiXhosa">
            <label for="language">IsiXhosa</label>
            <input type="radio" id="IsiZulu" name="language" value="IsiZulu">
            <label for="language">IsiZulu</label><br><br>
            <button type="submit" class="Greet_me">Greet here</button><br><br>
         </div>
   </div>
   </form>
   
   <div class="greetingBox">
    <a href="/reset"><button type="button"  class="reset">Reset</button></a><br><br>
     
     
      <div class="greetList">
         <a href="/names">Names Greeted</a>
      </div>
   </div><br><br>
   <div class="greetme">
       {{greet}} 
   </div>
</body>

</html>