
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body> 
  <div class="row">
      <h4>List of the greeted name</h4>
      <div class="users2">

      </div>
    


</div>
{{#each names}}
<div class="entry">

    <a class="namesG" href="/counter/{{this.name}}">{{this.name}}</a>
</div>
{{/each}}

 <a href="/"><button>Click here to go back and greet</button></a>
</body>

</html>